@import "./variables";

.button {
  background-color: $button-background;
  padding: 10px 24px;
  display: inline;
  border-radius: 2000px;
  color: white;
  &:hover {
    background-color: $button-hover-background;
  }
}
