@import "./align-helpers";
@import "./variables";
@import "./responsive";

$header-heigh: 60px;

.header {
  width: 100vw;
  height: $header-heigh;
  line-height: $header-heigh;
  text-align: center;

  > div {
    display: inline-block;
    height: 100%;

    ul {
      list-style-type: none;
      overflow: hidden;
      padding: 0;
      height: 100%;
      margin: 0;
      li {
        padding: 0 15px;
        float: left;
        &:hover {
          background-color: $list-element-hover-background-color;
        }
      }
    }
  }

  > div:first-child {
    float: left;
    margin-left: 20px;
  }

  > div:last-child {
    float: right;
    margin-right: 20px;
  }
}

@media #{$medium-down} {
  .menu-bar {
    display: none !important;
  }
}
