@import "./variables";

@mixin blue-filter() {
  filter: invert(43%) sepia(77%) saturate(3078%) hue-rotate(200deg) brightness(95%) contrast(86%);
  background-color: transparent;
}

@mixin grey-filter() {
  filter: invert(29%) sepia(13%) saturate(2076%) hue-rotate(176deg) brightness(93%) contrast(90%);
  background-color: transparent;
}

@mixin blue-iconize() {
  @include blue-filter();
  background-color: rgba($color: $blue, $alpha: 0.3);
  padding: $icon-padding;
  border-radius: 16px;
  height: $icon-height - $icon-padding;
}
