$small-width: 460px;
$small-down: "only screen and (max-width: #{$small-width})";
$small-up: "only screen and (min-width: #{$small-width})";

$medium-width: 800px;
$medium-down: "only screen and (max-width: #{$medium-width})";
$medium-up: "only screen and (min-width: #{$medium-width})";