$icon-height: 35px;
$icon-padding: 13px;
$blue: rgb(49, 124, 226);
$fake-black: rgb(44, 44, 52);

// button
$button-background: rgb(48, 197, 141);
$button-hover-background: rgb(52, 230, 161);

// listes
$list-element-hover-background-color: rgba(0, 0, 0, 0.116);

// paragraph
$paragraph-color: rgb(132, 151, 168);

// input
$border-color: rgba(190, 207, 219, 0.555);
