body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: #2c2c34;
}

p {
  color: #324f78;
}

.blue {
  color: #317ce2;
}

.button, .input > div:last-of-type {
  background-color: #30c58d;
  padding: 10px 24px;
  display: inline;
  border-radius: 2000px;
  color: white;
}

.button:hover, .input > div:hover:last-of-type {
  background-color: #34e6a1;
}

.header {
  width: 90%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 5%;
}

.header > div {
  display: inline-block;
  height: 100%;
}

.header > div ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  height: 100%;
  margin: 0;
}

.header > div ul li {
  padding: 0 15px;
  float: left;
}

.header > div ul li:hover {
  background-color: rgba(0, 0, 0, 0.116);
}

.header > div:first-child {
  float: left;
}

.header > div:last-child {
  float: right;
}

@media only screen and (max-width: 800px) {
  .menu-bar {
    display: none !important;
  }
}

.button, .input > div:last-of-type {
  background-color: #30c58d;
  padding: 10px 24px;
  display: inline;
  border-radius: 2000px;
  color: white;
}

.button:hover, .input > div:hover:last-of-type {
  background-color: #34e6a1;
}

.input {
  border: solid;
  border-width: 1px;
  border-color: rgba(190, 207, 219, 0.555);
  border-radius: 2000px;
  padding: 15px 2px 11px 24px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 80px;
  background-color: white;
}

.input > p {
  display: inline;
}

.input > div:last-of-type {
  display: inline;
  position: absolute;
  right: 3px;
  top: 3px;
}

#brand-logo > img {
  height: 85px;
  width: auto;
  margin-bottom: 10px;
}

#first-div {
  padding-bottom: 40px;
}

@media only screen and (max-width: 800px) {
  #image-div {
    overflow: hidden;
    padding: 0 5%;
  }
  #image-div > img {
    width: 100%;
  }
  #first-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.08)), color-stop(transparent), color-stop(transparent), color-stop(transparent), to(transparent));
    background-image: linear-gradient(rgba(128, 128, 128, 0.08), transparent, transparent, transparent, transparent);
    width: 100%;
    padding: 0;
  }
  #first-div > #informations {
    padding: 0 5%;
  }
  #first-div > #informations > div:first-of-type {
    width: 100%;
  }
  #first-div > #informations h1 {
    margin-top: 50px;
  }
  #first-div > #informations > div:last-of-type {
    bottom: 0px;
  }
}

@media only screen and (min-width: 800px) {
  #first-div {
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.2);
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
  }
  #first-div > #informations {
    float: left;
    width: 47%;
    height: 100%;
    left: 5%;
    top: 0px;
    position: relative;
  }
  #first-div > #informations > div:first-of-type {
    float: right;
    width: 450px;
    max-width: 100%;
    position: absolute;
    top: 40%;
    margin-top: -5em;
    right: 0;
  }
  #image-div {
    float: right;
    width: 53%;
    height: 100%;
  }
  #image-div > img {
    height: 550px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

#mobile-analyze {
  width: 100%;
  margin-bottom: 80px;
}

#mobile-analyze > .button, .input#mobile-analyze > div:last-of-type {
  display: block;
  text-align: center;
  height: 26px;
  line-height: 26px;
}

@media only screen and (max-width: 460px) {
  .input {
    text-align: center;
    margin-bottom: 10px;
  }
  #normal-analyze {
    display: none;
  }
  #mobile-analyze {
    display: block;
  }
}

@media only screen and (min-width: 460px) {
  .input {
    text-align: left;
    margin-bottom: 80px;
  }
  #normal-analyze {
    display: inline;
  }
  #mobile-analyze {
    display: none;
  }
}

.show-translation {
  -webkit-transition: opacity 1.2s ease-in-out, -webkit-transform 0.7s ease-in-out;
  transition: opacity 1.2s ease-in-out, -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, opacity 1.2s ease-in-out;
  transition: transform 0.7s ease-in-out, opacity 1.2s ease-in-out, -webkit-transform 0.7s ease-in-out;
  opacity: 1 !important;
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

.hidden-translation {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

#how-it-works {
  text-align: -webkit-center;
}

#how-it-works #how-it-works-div {
  height: 320px;
  width: 100%;
  float: left;
  margin-top: 70px;
  margin-bottom: 70px;
}

#how-it-works #how-it-works-div .row {
  padding: 10px 40px 10px 20px;
  margin: 2px 0;
  border-radius: 7px;
  border-width: 1px !important;
  border-color: rgba(190, 207, 219, 0.4) !important;
  border: solid;
  -webkit-box-shadow: 3px 3px 5px rgba(190, 207, 219, 0.4);
          box-shadow: 3px 3px 5px rgba(190, 207, 219, 0.4);
  background-color: white;
}

#how-it-works #how-it-works-div .row p {
  background-color: white;
}

#how-it-works .inline-children {
  height: calc(100% - 50px);
}

#how-it-works .inline-children > * {
  height: -webkit-fill-available;
}

#how-it-works .inline-children > div:first-of-type {
  height: 100%;
  float: left;
}

#how-it-works .inline-children > div:first-of-type > img {
  height: auto;
  width: auto;
  max-height: 100%;
  float: right;
}

#how-it-works .inline-children > div:last-of-type {
  float: right;
  margin-left: 50px;
}

#how-it-works .inline-children > div:last-of-type > div {
  float: left;
}

#how-it-works .inline-children > div:last-of-type > div div {
  text-align: left;
}

#how-it-works div > div {
  text-align: center;
}

#how-it-works .title-div {
  margin: 60px 0;
}

#how-it-works .title-div p {
  text-align: center !important;
}

#how-it-works div > div:first-of-type > h3,
#how-it-works div > div:first-of-type p {
  text-align: left;
}

#how-it-works img {
  max-width: 100%;
}

#how-it-works .bullet-point > *:not(.icon) {
  display: inline;
}

#how-it-works .bullet-point > img {
  vertical-align: middle;
  height: 35px;
  width: auto;
  margin-right: 10px;
  -webkit-filter: invert(29%) sepia(13%) saturate(2076%) hue-rotate(176deg) brightness(93%) contrast(90%);
          filter: invert(29%) sepia(13%) saturate(2076%) hue-rotate(176deg) brightness(93%) contrast(90%);
  background-color: transparent;
}

#how-it-works .bullet-point > p {
  height: 35px;
  line-height: 35px;
}

#how-it-works .steps {
  max-width: 550px;
}

#how-it-works .steps > * {
  text-align: start;
}

#how-it-works .steps > div:first-of-type > img {
  -webkit-filter: invert(15%) sepia(98%) saturate(6767%) hue-rotate(218deg) brightness(103%) contrast(109%);
          filter: invert(15%) sepia(98%) saturate(6767%) hue-rotate(218deg) brightness(103%) contrast(109%);
  background-color: transparent;
  background-color: transparent;
  padding: 13px;
  height: 22px;
}

#how-it-works .steps .bullet-point:not(:first-of-type) {
  border-top: solid;
  border-width: 1px;
  border-color: rgba(190, 207, 219, 0.555);
  padding: 20px 0;
}

#how-it-works .steps > div:last-of-type {
  margin-top: 140px;
}

@media only screen and (max-width: 800px) {
  #how-it-works #how-it-works-div {
    width: 90%;
  }
  #how-it-works > div:nth-of-type(n + 2) {
    padding: 0 5%;
  }
  #how-it-works .inline-children {
    height: auto;
  }
  #how-it-works .inline-children > div:last-of-type {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  #how-it-works > div:not(:last-child) {
    width: 44%;
  }
  #how-it-works > div:nth-child(2) {
    padding-right: 5%;
    float: right;
    text-align: -webkit-left;
  }
  #how-it-works > div:nth-child(2) > div {
    text-align: -webkit-match-parent;
  }
  #how-it-works > div:nth-child(3) {
    padding-left: 5%;
    float: left;
    text-align: -webkit-right;
  }
  #how-it-works > div:nth-child(3) > div {
    text-align: -webkit-match-parent;
  }
  #how-it-works > div:nth-child(4) {
    padding-right: 5%;
    float: right;
    text-align: -webkit-left;
  }
  #how-it-works > div:nth-child(4) > div {
    text-align: -webkit-match-parent;
  }
  #how-it-works > div:nth-child(5) {
    padding-left: 5%;
    float: left;
    text-align: -webkit-right;
  }
  #how-it-works > div:nth-child(5) > div {
    text-align: -webkit-match-parent;
  }
  #how-it-works > div:nth-child(6) {
    padding-right: 5%;
    float: right;
    text-align: -webkit-left;
  }
  #how-it-works > div:nth-child(6) > div {
    text-align: -webkit-match-parent;
  }
}

@media only screen and (max-width: 800px) {
  #how-it-works .inline-children.card {
    height: 100%;
  }
}

#how-it-works > * {
  opacity: 0;
}

.show {
  -webkit-transition: opacity .8s ease-in-out;
  transition: opacity .8s ease-in-out;
  opacity: 1 !important;
}

#proven-results {
  opacity: 0;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 60px;
}

#proven-results .title-div {
  margin-bottom: 55px;
}

#proven-results .title-div h1 {
  margin: 30px 0 5px;
}

#proven-results .title-div p {
  text-align: center !important;
  margin: 0;
}

#proven-results .card {
  width: 90%;
}

#proven-results .card > div {
  max-width: 1200px;
  margin: auto;
}

#proven-results .large-up .shadow-card {
  width: 14%;
  padding: 30px;
  display: inline-block;
  margin: 75px 1.5% 0;
}

#proven-results .large-up .shadow-card h4 {
  margin: 24px 0 6px;
}

#proven-results .large-up .shadow-card p {
  margin: 0;
}

#proven-results .large-up .shadow-card.tr-top {
  -webkit-transform: translate(0, -75px);
          transform: translate(0, -75px);
}

#proven-results .icon {
  border-radius: 12px;
}

@media only screen and (max-width: 1180px) {
  #proven-results .card {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  #proven-results .large-up {
    display: none;
  }
  #proven-results .large-down .shadow-card {
    width: 36%;
    padding: 30px;
    display: inline-block;
    margin: 1%;
  }
  #proven-results .large-down .shadow-card > div {
    display: inline-block;
    vertical-align: bottom;
  }
  #proven-results .large-down .shadow-card > div:first-of-type {
    margin-right: 10px;
  }
  #proven-results .large-down .shadow-card h4 {
    margin: 0 0 10px;
  }
  #proven-results .large-down .shadow-card p {
    margin: 0;
  }
}

@media only screen and (min-width: 1180px) {
  #proven-results .large-down {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #proven-results .large-down .shadow-card {
    padding: 4%;
    width: 85%;
  }
}

.card {
  display: inline-block;
  background-color: #f3f6fe;
  border-radius: 14px;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px 45px;
}

.card * {
  background-color: #f3f6fe;
}

.shadow-card {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 40px 10px 20px;
  border-radius: 7px;
  border-width: 1px !important;
  border-color: rgba(190, 207, 219, 0.4) !important;
  border: solid;
  -webkit-box-shadow: 22px 10px 15px rgba(190, 207, 219, 0.4);
          box-shadow: 22px 10px 15px rgba(190, 207, 219, 0.4);
  background-color: white;
}

.shadow-card * {
  background-color: white;
}

div.icon {
  vertical-align: middle;
}

div.icon.blue {
  background-color: rgba(49, 124, 226, 0.3);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 16px;
}

div.icon.blue > img {
  -webkit-filter: invert(15%) sepia(98%) saturate(6767%) hue-rotate(218deg) brightness(103%) contrast(109%);
          filter: invert(15%) sepia(98%) saturate(6767%) hue-rotate(218deg) brightness(103%) contrast(109%);
  background-color: transparent;
  background-color: transparent;
  padding: 13px;
  height: 22px;
}

div.icon.pink {
  background-color: rgba(255, 0, 142, 0.3);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 16px;
}

div.icon.pink > img {
  -webkit-filter: invert(23%) sepia(80%) saturate(7497%) hue-rotate(316deg) brightness(93%) contrast(124%);
          filter: invert(23%) sepia(80%) saturate(7497%) hue-rotate(316deg) brightness(93%) contrast(124%);
  background-color: transparent;
  background-color: transparent;
  padding: 13px;
  height: 22px;
}

div.icon.green {
  background-color: rgba(0, 189, 121, 0.3);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 16px;
}

div.icon.green > img {
  -webkit-filter: invert(55%) sepia(98%) saturate(2457%) hue-rotate(122deg) brightness(94%) contrast(101%);
          filter: invert(55%) sepia(98%) saturate(2457%) hue-rotate(122deg) brightness(94%) contrast(101%);
  background-color: transparent;
  background-color: transparent;
  padding: 13px;
  height: 22px;
}

div.icon.yellow {
  background-color: rgba(255, 230, 0, 0.3);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 16px;
}

div.icon.yellow > img {
  -webkit-filter: invert(68%) sepia(40%) saturate(5096%) hue-rotate(0deg) brightness(103%) contrast(105%);
          filter: invert(68%) sepia(40%) saturate(5096%) hue-rotate(0deg) brightness(103%) contrast(105%);
  background-color: transparent;
  background-color: transparent;
  padding: 13px;
  height: 22px;
}
/*# sourceMappingURL=place-pull.css.map */